@model Entidade.Consulta
@using Entidade

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-left">Parametrização</div>
                <div class="pull-right"><a asp-controller="Consultas" asp-action="Editar" asp-route-Id="@Model.ID">Editar</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" id="formulario">
                @if(Model.Versaos.FirstOrDefault().PARAMETRO_CONSULTAs.Count == 0)
                {
                    <p>Esta consulta não necessita de preenchimentos adicionais. Apenas clique no botão <strong>Executar</strong></p>
                }
                else
                {
                    List<PARAMETRO_CONSULTA> parametros = Model.Versaos.Where(x => x.IC_ATIVO == "Sim").FirstOrDefault().PARAMETRO_CONSULTAs.ToList();
                    foreach (PARAMETRO_CONSULTA parametro in parametros)
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="@parametro.NOME" class="control-label">@parametro.DESCRICAO:</label>
                                <input name="@parametro.NOME" data-id="@parametro.ID" data-type="parametro" class="form-control" type="@parametro.Tipo_Parametro.NM_LABEL" required/>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="panel-footer">
                <a class="btn btn-success executar" id="executar" data-id="@Model.ID">Executar Consulta</a>
            </div>
        </div>
    </div>
</div>
