@model Projeto_Barbar.Models.ViewModels.Consultas.Cadastro
@{
    ViewData["Title"] = "Cadastrar";
}
<h2>Cadastrar</h2>
<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-controller="Consultas" asp-action="CadastrarAsync" method="post">
            <div class="col-md-9">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Usua_Chave" class="control-label"></label>
                    <input asp-for="Usua_Chave" class="form-control" />
                    <span asp-validation-for="Usua_Chave" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <textarea asp-for="Descricao" style="resize:none;" class="form-control" rows="5" cols="30"></textarea>
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="SQL" class="control-label"></label>
                        <textarea asp-for="SQL" style="resize: vertical; min-height: 200px;" rows="10" cols="30" class="form-control"></textarea>
                        <span asp-validation-for="SQL" class="text-danger"></span>
                    </div>
                    <div class="col-md-6" style="margin-top: 2.7%;">
                        <table class="table table-bordered table-hover" id="tab_logic">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        #
                                    </th>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Apelido</th>
                                    <th class="text-center">Tipo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id='addr-1'></tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><button onclick="AtualizarQuadro()" class="btn btn-sm btn-primary">Atualizar Quadro</button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-lg btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var parametros = [];
    var quantidadeLinhas = $("#tab_logic tbody tr").length;

    function AtualizarQuadro() {
        var regex = /@@(\w+)/g;
        var palavras = $("#SQL").val();
        var matches = [];
        var array;
        parametros.pop();
        parametros = [];

        while ((array = regex.exec(palavras)) !== null) {
            matches.push(array[1]);
        }

        matches.forEach(AdicionarNaLista);

        AtualizarSQLGrid();
    }

    function AdicionarNaLista(texto, item, array)
    {
        parametros[item] = { Nome: texto, Descricao: "" };
        grid_ram = [];

        for (var i = 0; i < quantidadeLinhas; i++)
        {
            grid_ram.push({ Nome: $("#nome-" + i).val(), Apelido: $("#Apelido-" + i).val(), Tipo: $('select[name=TipoSeletor]').val() });
        }

        for (var indice = 0; indice < quantidadeLinhas; indice++)
        {
            if (!!grid_ram[0]) {
                var j = 0;
                var flag = 0;
                while (flag == 0 && j < quantidadeLinhas)
                {
                    if (parametros[item].Nome == grid_ram[j].Nome)
                    {
                        flag = 1;
                    }

                    j++;
                }

                if (flag == 0)
                {
                    $('#addr-' + quantidadeLinhas).html("<td align='center'><button class='btn btn-sm btn-danger'>Deletar</button></td><td id='nome-" + parametros + "'>" + parametros[item].Nome + "</td><td><input type='text' id='Apelido-" + quantidadeLinhas + "' placeholder='Apelido' class='form-control input-md' /></td><td><select name='TipoSeletor' asp-items='@(new SelectList(@ViewBag.TipoParametros, "ID", "NOME"))' class='form-control'><option>Selecione ...</option></select></td>");
                    quantidadeLinhas++;
                    $('#tab_logic').append('<tr id="addr-' + quantidadeLinhas + '"></tr>');
                }

            }
            else
            {
                $('#addr-' + quantidadeLinhas).html("<td align='center'><button class='btn btn-sm btn-danger'>Deletar</button></td><td id='nome-" + parametros + "'>" + parametros[item].Nome + "</td><td><input type='text' id='Apelido-" + quantidadeLinhas + "' placeholder='Apelido' class='form-control input-md' /></td><td><select name='TipoSeletor' asp-items='@(new SelectList(@ViewBag.TipoParametros, "ID", "NOME"))' class='form-control'><option>Selecione ...</option></select></td>");
                quantidadeLinhas++;
                $('#tab_logic').append('<tr id="addr-' + quantidadeLinhas + '"></tr>');
            }

        }

        if (quantidadeLinhas == 1)
        {
            $('#addr-' + quantidadeLinhas).html("<td align='center'>< button class='btn btn-sm btn-danger' >Deletar</button ></td ><td id='nome-" + parametros + "'>" + parametros[item].Nome + "</td><td><input type='text' id='Apelido-" + quantidadeLinhas + "' placeholder='Apelido' class='form-control input-md' /></td><td><select name='TipoSeletor' asp-items='@(new SelectList(@ViewBag.TipoParametros, "ID", "NOME"))' class='form-control'><option>Selecione ...</option></select></td>");
            quantidadeLinhas++;
            $('#tab_logic').append('<tr id="addr-' + quantidadeLinhas + '"></tr>');
        }
    }

    function AtualizarSQLGrid()
    {
        var grid_ram = [];

        for (var i = 0; i < quantidadeLinhas; i++)
        {
            grid_ram.push({ Nome: $("#nome-" + i).val(), Apelido: $("#apelido-" + i).val(), Tipo: $('select[name=TipoSeletor]').val() });
        }

        for (var indice = 0; indice < quantidadeLinhas; indice++)
        {
            if (!!grid_ram[0])
            {
                var flag = 0;
                var j = 0;

                while (flag == 0 && parametros.length)
                {
                    if (grid_ram[indice].Nome == parametros[j].Nome)
                        flag = 1;
                    j++;

                }

                if (flag == 0)
                {
                    $('#addr-' + quantidadeLinhas).remove();
                    quantidadeLinhas--;
                    $('#tab_logic').append('<tr id="addr-' + quantidadeLinhas + '"></tr>');

                }

            }
            else
            {
                $('#addr-' + quantidadeLinhas).remove();
                quantidadeLinhas--;
                $('#tab_logic').append('<tr id="addr-' + quantidadeLinhas + '"></tr>');

            }

        }
    }
</script>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
