@model Entidade.Consulta
@using Entidade

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Parametrização
            </div>
            <div class="panel-body">
                @if(Model.Versaos.First().PARAMETRO_CONSULTAs.Count == 0)
                {
                    <p>Esta consulta não necessita de preenchimentos adicionais. Apenas clique no botão <strong>Executar</strong></p>
                }
                else
                {
                    foreach (PARAMETRO_CONSULTA parametro in Model.Versaos.Where(x => x.IC_ATIVO == "Sim").Select(x => x.PARAMETRO_CONSULTAs))
                    {
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="@parametro.NOME" class="control-label"></label>
                                <input name="@parametro.DESCRICAO" data-id="@parametro.ID" class="form-control" type="@parametro.Tipo_Parametro.NM_LABEL" required/>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="panel-footer">
                <button type="submit" onclick="Executar(@Model.ID)" class="btn btn-success">Executar</button>
            </div>
        </div>
    </div>
</div>
<script>
    function Executar(id)
    {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("Executar","Consultas", new { Id = "id" })".replace("id", id),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (success)
            {
                window.location.href = success;
            }
        });
    }
</script>
